{% import "macros/refs.html" as refs %}
{% extends "repo/base.html" %}

{% block log_nav_class %}active{% endblock %}

{% block content %}
<table class="repositories">
    {% call refs::commit_table(commits) %}
</table>

{% if let Some(next_offset) = next_offset %}
<div class="mt-2 text-center">
    {% if let Some(branch) = branch %}
        <a href="?h={{ branch }}&ofs={{ next_offset }}">[next]</a>
    {% else %}
        <a href="?ofs={{ next_offset }}">[next]</a>
    {% endif %}
</div>
{% endif %}
{% endblock %}
