{% import "macros/refs.html" as refs %}
{% import "macros/link.html" as link %}
{% extends "repo/base.html" %}

{% block log_nav_class %}active{% endblock %}

{% block content %}
<div class="table-responsive">
<table class="repositories">
    {% call refs::commit_table(commits) %}
</table>
</div>

{% if let Some(next_offset) = next_offset %}
<div class="mt-2 text-center">
    <a href="?ofs={{ next_offset }}{% call link::maybe_branch_suffix(branch) %}">[next]</a>
</div>
{% endif %}
{% endblock %}
