{% extends "repo/base.html" %}

{% block refs_nav_class %}active{% endblock %}

{% block content %}
<table class="repositories">
    <thead>
    <tr>
        <th>Branch</th>
        <th>Commit message</th>
        <th>Author</th>
        <th>Age</th>
    </tr>
    </thead>

    <tbody>
    {% for branch in refs.branch %}
    <tr>
        <td><a href="/{{ repo.display() }}/log/?h={{ branch.name }}">{{ branch.name }}</a></td>
        <td><a href="/{{ repo.display() }}/commit/?id={{ branch.commit.oid() }}">{{ branch.commit.summary() }}</a></td>
        <td>
            <img src="https://www.gravatar.com/avatar/{{ branch.commit.author().email_md5() }}?s=13&d=retro" width="13" height="13">
            {{ branch.commit.author().name() }}
        </td>
        <td>
            <time datetime="{{ branch.commit.author().time() }}" title="{{ branch.commit.author().time() }}">
                {{ branch.commit.author().time()|timeago }}
            </time>
        </td>
    </tr>
    {% endfor %}
    </tbody>

    <tbody>
    <tr class="separator">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <th>Tag</th>
        <th>Download</th>
        <th>Author</th>
        <th>Age</th>
    </tr>

    {% for tag in refs.tag.iter().rev() %}
    <tr>
        <td><a href="/{{ repo.display() }}/tag/?h={{ tag.name }}">{{ tag.name }}</a></td>
        <td></td>
        <td>
            {% if let Some(tagger) = tag.tagger %}
                <img src="https://www.gravatar.com/avatar/{{ tagger.email_md5() }}?s=13&d=retro" width="13" height="13">
                {{ tagger.name() }}
            {% endif %}
        </td>
        <td>
            {% if let Some(tagger) = tag.tagger %}
                <time datetime="{{ tagger.time() }}" title="{{ tagger.time() }}">
                    {{ tagger.time()|timeago }}
                </time>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}