{% import "macros/refs.html" as refs %}
{% extends "repo/base.html" %}

{% block summary_nav_class %}active{% endblock %}

{% block content %}
<div class="table-responsive">
<table class="repositories">
    {% call refs::branch_table(refs.heads.iter().take(10)) %}
    {%- if refs.heads.len() > 10 -%}
    <tbody>
    <tr class="no-background">
        <td><a href="/{{ repo.display() }}/refs" class="no-style">[...]</a></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
    {%- endif -%}

    {%- if !refs.tags.is_empty() -%}
        <tbody>
        <tr class="separator">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>

        {%- call refs::tag_table(refs.tags.iter().take(10)) -%}
        {%- if refs.tags.len() > 10 -%}
        <tbody>
        <tr class="no-background">
            <td><a href="/{{ repo.display() }}/refs" class="no-style">[...]</a></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
        {%- endif -%}
    {%- endif %}

    <tbody>
    <tr class="separator">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>

    {% call refs::commit_table(commit_list.iter().take(10)) %}
    {% if commit_list.len() > 10 %}
    <tbody>
    <tr class="no-background">
        <td><a href="/{{ repo.display() }}/log" class="no-style">[...]</a></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
    {%- endif %}
</table>
</div>
{% endblock %}
