[package]
name = "rgit"
description = "A gitweb/cgit-like interface"
version = "0.1.1"
edition = "2021"
authors = [ "Jordan Doyle <jordan@doyle.la>" ]
license = "WTFPL"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
askama = "0.12.0"
anyhow = "1.0"
axum = { version = "0.6.19", features = ["headers", "macros"] }
axum-macros = "0.3.7"
bat = { version = "0.23.0", default-features = false, features = ["build-assets"] }
bytes = "1.1"
bincode = "1.3"
comrak = "0.18.0"
clap = { version = "4.3.0", features = ["cargo", "derive"] }
futures = "0.3"
git2 = "0.18.0"
hex = "0.4"
humantime = "2.1"
nom = "7.1"
md5 = "0.7"
moka = { version = "0.11.1", features = ["future"] }
once_cell = "1.18"
path-clean = "1.0.1"
parking_lot = "0.12"
serde = { version = "1.0", features = ["derive"] }
sha2 = "0.10"
syntect = "5"
sled = { version = "0.34", features = ["compression"] }
time = { version = "0.3", features = ["serde"] }
timeago = { version = "0.4.1", default-features = false }
tokio = { version = "1.19", features = ["full"] }
tokio-util = { version = "0.7.3", features = ["io"] }
tower = "0.4"
tower-service = "0.3"
tower-layer = "0.3"
tower-http = { version = "0.4.4", features = ["cors"] }
tracing = "0.1"
tracing-subscriber = "0.3"
unix_mode = "0.1"
uuid = { version = "1.4", features = ["v4"] }
httparse = "1.7"
yoke = { version = "0.7.1", features = ["derive"] }

[build-dependencies]
anyhow = "1.0"
rsass = "0.28.0"

[package.metadata.deb]
section = "web"
maintainer-scripts = "server_side/"
systemd-units = { enable = false }
assets = [
    [ "target/release/rgit", "/usr/bin/rgit", "755" ],
    [ "server_side/default", "/etc/default/rgit", "644" ],
    [ "server_side/config", "/etc/rgit/config", "644" ],
    [ "server_side/rgitsss", "/usr/bin/rgitsss", "755" ],
    [ "server_side/rgit_pre_flight_check", "/usr/bin/rgit_pre_flight_check", "755" ],
    # FYI `cargo deb` installs the systemd service file
]
