<div class="dropdown-link">
    {% for (name, item) in inner.0.iter() -%}
	{% match item -%}
    {% when ArchivedSortedTreeItem::File -%}
    <div class="dropdown-label">
        <a class="link" href="/{{ base.display() }}/tree{{ path_stack }}/{{ name.0 }}">📄 {{ name.0 }}</a>
    </div>

    {% when ArchivedSortedTreeItem::Directory with (inner) -%}
    <div class="dropdown-label">
        <label>
            <input type="checkbox">
            <div class="dropdown-toggle"><span>›</span></div>
            <span class="sr-only">Open directory</span>
        </label>
        <a class="link" href="/{{ base.display() }}/tree{{ path_stack }}/{{ name.0 }}">📁 {{ name.0 }}</a>
    </div>

    <div class="dropdown-content">
        {{ FileTree::new(inner, self.base, format!("{}/{}", self.path_stack, name.0)).render()?|safe }}
	</div>
	{% endmatch -%}
	{% endfor -%}
</div>
