@import 'colours';

pre {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: auto;
  counter-reset: line;

  &.h2-first-line {
    &::first-line {
      font-family: sans-serif;
      font-size: 1.5em;
      font-weight: bold;
    }
  }

  code {
    counter-increment: line;

    @media (prefers-color-scheme: dark) {
      color: #abb2bf;
    }

    &::before {
      content: counter(line);
      display: inline-block;
      width: 2em;
      padding: 0 1em 0.3em 0;
      margin-right: .5em;
      color: $asideColour;
      -webkit-user-select: none;
    }
  }
}
