pre.diff {
  @media (prefers-color-scheme: dark) {
    color: #abb2bf;
  }
}

.diff-add-line::before, .diff-remove-line::before, .diff-context::before {
  display: inline-block;
  color: #888;
  -webkit-user-select: none;
}

.diff-file-header {
  font-weight: bold;
}

.diff-file-header > span > span {
  font-weight: normal;
}

.diff-add-line {
  background: #e6ffec;
  display: block;

  @media (prefers-color-scheme: dark) {
    background: rgba(70, 149, 74, 0.15);
  }

  &::before {
    content: '+ ';
  }
}

.diff-remove-line {
  background: #ffebe9;
  display: block;

  @media (prefers-color-scheme: dark) {
    background: rgba(229, 83, 75, 0.15);
  }

  &::before {
    content: '- ';
  }
}

.diff-context {
  &::before {
    content: '  ';
  }
}