@import 'util';
@import 'diff';
@import 'tables';
@import 'code';
@import 'colours';

@media (prefers-color-scheme: dark) {
  html {
    background: #000;
    color: $darkModeTextColour;
  }

  h2, h3 {
    color: darken($darkModeHighlightColour, 20%);
  }
}

body {
  font-family: sans-serif;
  font-size: 0.9rem;
  tab-size: 4;
}

header {
  border-bottom: solid 1px #ccc;
}

nav {
  margin-top: 2rem;
  border-bottom: solid 3px #ccc;
  display: flex;

  .grow {
    flex-grow: 1;
  }

  @media (prefers-color-scheme: dark) {
    border-bottom-color: $darkModeHighlightColour;
  }

  a {
    padding: 2px 0.75em;
    color: #777;
    font-size: 110%;

    @media (prefers-color-scheme: dark) {
      color: $darkModeHighlightColour;
    }

    &.active {
      color: #000;
      background-color: #ccc;

      @media (prefers-color-scheme: dark) {
        background: $darkModeHighlightColour;
      }
    }
  }
}

aside {
  background: #f7f7f7;
  padding: 0.3rem 2rem;

  @media (prefers-color-scheme: dark) {
    background: #111;
  }
}

main {
  padding: 2rem;
  margin: 0;
  border-bottom: solid 3px #ccc;

  @media (prefers-color-scheme: dark) {
    border-bottom-color: $darkModeHighlightColour;
  }
}

footer {
  margin-top: 0.5em;
  text-align: center;
  font-size: 80%;
  color: #ccc;

  @media (prefers-color-scheme: dark) {
    color: $darkModeTextColour;
  }
}

a {
  text-decoration: none;
  color: blue;

  @media (prefers-color-scheme: dark) {
    color: darken($darkModeHighlightColour, 10%);
  }

  &.no-style {
    color: inherit;

    @media (prefers-color-scheme: dark) {
      color: darken($darkModeHighlightColour, 10%);
    }
  }

  &:hover {
    text-decoration: underline;
  }
}
